*{
	padding: 0%;
	margin: 0%;
}
.header {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: space-around;
  	font-family: 'Raleway', sans-serif;
  	color: white !important;
  	font-size: 1.8em;
  	padding: auto;
  	text-decoration: none;
  }
.text1{
  	font-family: 'Raleway', sans-serif;
  	color: white;
  	font-size: 1.8em;
  	text-align: center;
}
.header a {
	color: white;
	text-decoration: none;
}
a:active {
    color: #009D91;  
}
.fijilogo{
	font-family: 'DM Serif Display', serif;
	font-size: 2.7em;
	color: white;
	text-align: center;
	transition: all 1s ease-in-out;
}
.figilogo:hover{
	transform: scale(1.1, 1.1);
}
#firstcon{
	height: 100vh;
	width: 100%;
	background-image: url(/fiji_images/ocean.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}
.firstcontent{
	position: relative;
	width: 100%;
	height: 90vh;
}
article {
	width: 100%;
  	margin: 0;
	position: absolute;               
	top: 50%;  
}
#secondcon{
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.secondcontent{
	height: 70vh;
	width: 60%;
	background-color: #FEF2E6;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.hints{
	font-family: 'DM Serif Display', serif;
	font-size: 1.6em;
	text-align: center;
}
.next {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.next img{
	width: 20px;
	height: 20px;
}
#text2{
	font-family: 'Raleway', sans-serif;
  	font-size: 1.2em;
  	text-align: center; 
}
.surfer img{
	height: 382px;
	width: 268px;
	-webkit-box-shadow: -11px 13px 5px 3px rgba(0,0,0,0.14);
	-moz-box-shadow: -11px 13px 5px 3px rgba(0,0,0,0.14);
	box-shadow: -11px 13px 5px 3px rgba(0,0,0,0.14);
}
.col-1{
	width: 100px;
}
#thirdcon{
	height: 10vh;
	width: 100%;
}
.text3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
p[flinks]{
	font-size: 1.9em;
}
p[work]{
	font-size: 1.6em;
}
.fourthcon{
	height: 50vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.fourthconvid{
	height: 40vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 10px;
}
.vidline{
	width: 25px;
}
#fifthcon{
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown{
	border: black 1px solid;
	display: flex;
	flex-direction: column;
	align-items: left;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	padding: 10px;
}
.button{
	background: linear-gradient(0deg, rgba(0,80,116,1) 4%, rgba(67,194,203,1) 81%);
	font-size: 0.6em;
	font-family: 'Raleway', sans-serif;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	box-align: center;
}
[type="checkbox"]{
	width: 20px;
	height: 20px;
}
[type="password"], [type="email"]{
	width: 150px;
	height: 25px;
}
.text4{
	font-family: 'Raleway', sans-serif;
	font-size: 0.7em;
	text-decoration: underline;
	color: black !important;
}
.end{
	display: flex;
	align-content: flex-end;
	justify-content: center;
}
